@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { 
    height: 100%;
}

body {
    min-height: 95%;
    background-color: #ffe4c4;
    margin: 0;
    position: relative;
}

img {
	max-width: 100%;
    height: auto;
    vertical-align: -webkit-baseline-middle;
}

li, a, button, h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.header_bt {
    margin: 0px 10px;
    padding: 11.94px 20px;
    border: none;
    transition: all 0.3s ease 0s;
    
    background-color: #fffaf4;
    border-radius: 10px;

    /* background-color: #ffebcd; */
    /* border: 1px solid #eedcc0; */
}

.header_bt:hover {
    background-color: rgba(255, 234, 209, 0.8);
}

.home:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
    transition: all 0.3s ease 0s;
}

.main-header {
    background: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.main-header .container {
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    
    height: 60px;
}

.main-nav ul {
	text-align: center;
}
.main-nav li {
	display: inline;
}

.main-nav a {
	display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30%;
}

.main-content .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;

}

#signInMod {
    display: none;

    align-items: center;
    
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: rgba(0,0,0,0.4);
}

#signUpMod {
    display: none;

    align-items: center;

    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(177, 2, 2);
    background-color: rgba(0,0,0,0.4);
}

.modContent {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    flex-direction: column;

    background-color: #fefefe;

    border-radius: 10px;

    border: 1px solid #888;
    max-width: 450px;
    max-height: 550px;
    
}

#signUpBt {
    margin-top: 5%;
}

.modContent {
    width: 50%;
    height: 50%;
}

.disciplinas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 10px 100px;
    
}

.discBt {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    
    margin: 5px;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease 0s;
    
    background-color: #fffaf4;

    border-radius: 10px;

}

.footer {
    display: flex;
    position: absolute;
    align-items: center; 
    justify-content: center;

    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 45px;


    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    background-color: #fff7ef;

    transform: translateY(100%);
}


/* Disciplina modal */

#disciplinaMod {
    text-align: center;
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(177, 2, 2);
    background-color: rgba(0,0,0,0.4);
}

.modContentDisc {
    display: flex;
    
    flex-direction: column;

    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    max-width: 70%;

    border-radius: 10px;

}

#dadosDisc {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 30px 15px 15px;
}

#likeInfo {
    display: flex;
    align-items: center;
}

#likeBt {
    margin-right: 10px;
      width:1.5em;
    height: 1.5em;
}

/* #likeBt:hover {
    filter: invert(32%) sepia(95%) saturate(1073%) hue-rotate(103deg) brightness(95%) contrast(105%);
} */

.comentario {
    border-radius: 10px;
    background-color: bisque;
    margin: 15px 10%;
    padding: 15px;
    text-align: left;
}

.donoComentario {
    display: flex;
    justify-content: space-around;
}

#subComentario {
    margin: 10px 10px 0px;
    border-radius: 2em;
    padding: .1em 0.5em;
}

#disconnectarBt {
    padding: 11.94px 61.35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#disconnectarBt:hover {
    background-color: rgba(255, 104, 90, 0.8);
}
